<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TallerJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TallerServlet</display-name>
    <servlet-name>TallerServlet</servlet-name>
    <servlet-class>taller.servlet.TallerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TallerServlet</servlet-name>
    <url-pattern>/TallerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActualizarServlet</display-name>
    <servlet-name>ActualizarServlet</servlet-name>
    <servlet-class>taller.servlet.ActualizarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActualizarServlet</servlet-name>
    <url-pattern>/ActualizarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarServlet</display-name>
    <servlet-name>EliminarServlet</servlet-name>
    <servlet-class>taller.servlet.EliminarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarServlet</servlet-name>
    <url-pattern>/EliminarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarServlet</display-name>
    <servlet-name>ListarServlet</servlet-name>
    <servlet-class>taller.servlet.ListarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarServlet</servlet-name>
    <url-pattern>/ListarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>taller.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IngresarUsuarioServlet</display-name>
    <servlet-name>IngresarUsuarioServlet</servlet-name>
    <servlet-class>taller.servlet.IngresarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IngresarUsuarioServlet</servlet-name>
    <url-pattern>/IngresarUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActualizarUsuarioServlet</display-name>
    <servlet-name>ActualizarUsuarioServlet</servlet-name>
    <servlet-class>taller.servlet.ActualizarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActualizarUsuarioServlet</servlet-name>
    <url-pattern>/ActualizarUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarUsuarioServlet</display-name>
    <servlet-name>EliminarUsuarioServlet</servlet-name>
    <servlet-class>taller.servlet.EliminarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarUsuarioServlet</servlet-name>
    <url-pattern>/EliminarUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarUsuarioServlet</display-name>
    <servlet-name>ListarUsuarioServlet</servlet-name>
    <servlet-class>taller.servlet.ListarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarUsuarioServlet</servlet-name>
    <url-pattern>/ListarUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IngresarEmpresaServlet</display-name>
    <servlet-name>IngresarEmpresaServlet</servlet-name>
    <servlet-class>taller.servlet.IngresarEmpresaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IngresarEmpresaServlet</servlet-name>
    <url-pattern>/IngresarEmpresaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActualizarEmpresaServlet</display-name>
    <servlet-name>ActualizarEmpresaServlet</servlet-name>
    <servlet-class>taller.servlet.ActualizarEmpresaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActualizarEmpresaServlet</servlet-name>
    <url-pattern>/ActualizarEmpresaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarEmpresaServlet</display-name>
    <servlet-name>EliminarEmpresaServlet</servlet-name>
    <servlet-class>taller.servlet.EliminarEmpresaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarEmpresaServlet</servlet-name>
    <url-pattern>/EliminarEmpresaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarEmpresaServlet</display-name>
    <servlet-name>ListarEmpresaServlet</servlet-name>
    <servlet-class>taller.servlet.ListarEmpresaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarEmpresaServlet</servlet-name>
    <url-pattern>/ListarEmpresaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>taller.servlet.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusquedaSimpleServlet</display-name>
    <servlet-name>BusquedaSimpleServlet</servlet-name>
    <servlet-class>taller.servlet.BusquedaSimpleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusquedaSimpleServlet</servlet-name>
    <url-pattern>/BusquedaSimpleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusquedaAvanzadaServlet</display-name>
    <servlet-name>BusquedaAvanzadaServlet</servlet-name>
    <servlet-class>taller.servlet.BusquedaAvanzadaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusquedaAvanzadaServlet</servlet-name>
    <url-pattern>/BusquedaAvanzadaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnotacionServlet</display-name>
    <servlet-name>AnotacionServlet</servlet-name>
    <servlet-class>taller.servlet.AnotacionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnotacionServlet</servlet-name>
    <url-pattern>/AnotacionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Perfil</display-name>
    <servlet-name>Perfil</servlet-name>
    <servlet-class>taller.servlet.Perfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Perfil</servlet-name>
    <url-pattern>/Perfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActualizarServletSet</display-name>
    <servlet-name>ActualizarServletSet</servlet-name>
    <servlet-class>taller.servlet.ActualizarServletSet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActualizarServletSet</servlet-name>
    <url-pattern>/ActualizarServletSet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnotacionServletSet</display-name>
    <servlet-name>AnotacionServletSet</servlet-name>
    <servlet-class>taller.servlet.AnotacionServletSet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnotacionServletSet</servlet-name>
    <url-pattern>/AnotacionServletSet</url-pattern>
  </servlet-mapping>
</web-app>